PORT=3014
CHRONIK_URL=https://chronik.xolosarmy.xyz
ALLOWED_ORIGIN=https://ecash.mx,https://cartera.xolosarmy.xyz,https://app.tonalli.cash,http://localhost:5173,http://127.0.0.1:5173
ALIAS_REFRESH_INTERVAL_MS=300000
